@model LeaveTypeCreateVM
@{
    ViewData["Title"] = "Create Leave Type";
}

<div class="container mt-4">
    <div class="mb-4">
        <h2>Create Leave Type</h2>
        <hr />
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-4">
            @await Html.PartialAsync("_CreateForm", Model)
            <div class="mt-2">
                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
